*{
    background-color: lightgray;
}

h1 {
    color:green;
    background-color:blanchedalmond;
}

.weatherContainer {
    display: flex;
    flex-direction:column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif blue;

}

#getWeather {

    display: inline-block;
    padding: 20px;
    width: 200px;
    color: green;
    font-weight: 800;
    margin-top: 20px;
    
}

#cityName  {
    font-size: large;
    width: 200px;
    padding: 20px 10px;

}